<!DOCTYPE html>
<html>
<head>
    <title>Inserir Dados</title>
</head>
<body>
    <h1>Inserir Dados</h1>
    <form method="POST" action="/inputData">
        <label for="km">KM:</label>
        <input type="number" name="km" required><br>

        <label for="automovel">Automóvel:</label>
        <input type="number" name="automovel" required><br>

        <label for="bicicleta">Bicicleta:</label>
        <input type="number" name="bicicleta" required><br>

        <label for="caminhao">Caminhão:</label>
        <input type="number" name="caminhao" required><br>

        <label for="moto">Moto:</label>
        <input type="number" name="moto" required><br>

        <label for="onibus">Ônibus:</label>
        <input type="number" name="onibus" required><br>

        <label for="outros">Outros:</label>
        <input type="number" name="outros" required><br>

        <label for="tracao_animal">Tração Animal:</label>
        <input type="number" name="tracao_animal" required><br>

        <label for="transporte_de_cargas_especiais">Transporte de Cargas Especiais:</label>
        <input type="number" name="transporte_de_cargas_especiais" required><br>

        <label for="trator_maquinas">Trator/Máquinas:</label>
        <input type="number" name="trator_maquinas" required><br>

        <label for="utilitarios">Utilitários:</label>
        <input type="number" name="utilitarios" required><br>

        <label for="hora">Hora:</label>
        <input type="datetime" name="hora" required><br>

        <input type="submit" value="inputData">
    </form>
</body>
</html>
